<h1>Editing client workout</h1>

<%= render "form", client_workout: @client_workout %>

<br>

<div>
  <%= link_to "Show this client workout", @client_workout %> |
  <%= link_to "Back to client workouts", client_workouts_path %>
</div>
